* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url('../images/choosing-bg.jpg') no-repeat center/cover fixed;
    color: white;
}

.banner {
    padding: 6rem 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/courses-03.jpg') no-repeat center/cover;
    margin: 2rem 0;
    color: #f5a425;
    margin-top: 7rem;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row-reverse;
    margin: 7rem .7rem;

}

.hero img {
    width: 50%;
    object-fit: cover;
    border-radius: 1rem;
}

.hero>div {
    width: 30rem;
}

.hero a {
    display: grid;
    place-content: center;
    padding: .7rem 1rem;
    width: 10rem;
    border-radius: .4rem;
    font-weight: bolder;
    color: white;
    background: #f5a425;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem 0;
}

h2 {
    margin-bottom: .7rem;
}

section {
    padding: 1.5rem;
}

section h2 {
    text-align: center;
    margin-bottom: 1.6rem;
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.course {
    /* background: hsl(219, 44%, 20%); */
    border-radius: .7rem;
    padding: .5rem;
<<<<<<< HEAD
    box-shadow: 5px 5px 20px rgb(23 8 8);
    border: 1px solid #f5a425;

=======
    text-align: center;
    border: 1px solid #f5a425;
>>>>>>> a4fe64dfd7aaab26dd3652cdf8290f3a7825be16
}

.course img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    border-radius: .4rem;
}

.course .course-info {
    height: fit-content;
}

.course-info h4 {
    font-size: 1.2rem;
    margin: .7rem 0;
    text-transform: capitalize;
}

.course-info p {
    font-size: .95rem;
    margin: 1rem 0;

}

.course-info a {
    display: block;
    padding: .6rem 1rem;
    border-radius: .4rem;
    font-weight: bolder;
    color: white;
    background: #f5a425;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}








@media (max-width:820px) {
    .hero img {
        width: 58%;
    }
}

@media (max-width:670px) {
    .hero {
        flex-direction: column;
        margin: 3rem .7rem;
    }

    .hero>div {
        width: 100%;
    }

    .hero img {
        width: 100%;
    }

    section {
        padding: .5rem;
    }


}