.vision-container{
    color: white !important;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
}
.first-div, .second-div, .third-div{
    color: white;
    border: 1px solid  #f5a425;
    margin-top: 20px;
    width: 600px;
    height: 450px;
    text-align: left;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
}
.second-div, .third-div{
   margin-left: 50px;
}
.first-div-header, .second-div-header, .third-div-header{
    text-align: center;
}
.third-div-inner{
    text-align: left;
    margin: 0px 0px 0px 30px;
}

/* icons styling */
.fa-low-vision, .fa-thumbtack, .fa-creative-commons-sampling-plus{
    font-size: 30px;
    margin: 20px 0px 30px 0px;
    text-align: center;
}
.text-content-idea{
    font-size: 16.5px;
    list-style: circle;
}
.core-values{
    font-size: 26px !important;
}

.about-us-container{
    column-gap: 20px;
}
.about-us-left{
    border: 1px solid  #f5a425;
    margin-top: 20px;
    width: 400px;
    height: 450px;
    text-align: left;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
    text-align: center;
    column-gap: 20px;
    color: white;
}
.about-us-image{
    width: 600px !important;
    margin-top: -40px;
}
.inner-content{
    margin-top: 70px;
}
.about-us-button{
    background-color: #f5a425;
    color: rgb(255, 255, 255) !important;
    border-color: #f5a425;
}
.about-us-button:hover{
    background-color: #f5a425;
    color: rgb(255, 255, 255) !important;
    border-color: #f5a425;
}
.department-header{

    margin-bottom: 0px !important;
}
.card{
    background-color: transparent;
    margin-top: 50px;
    border-color: #f5a425;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
    height: 350px;
}
.card-text{
    color: rgb(255, 255, 255);
}