.main-menu li .sub-menu {

    width: 252px;

}

.overlay-text{
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    z-index: 11;
}
.vision-container{
    color: white !important;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
}
.first-div, .second-div, .third-div{
    color: white;
    border: 1px solid  #f5a425;
    margin-top: 20px;
    width: 600px;
    height: 450px;
    text-align: left;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
}
.second-div, .third-div{
   margin-left: 50px;
}
.first-div-header, .second-div-header, .third-div-header{
    text-align: center;
}
.third-div-inner{
    text-align: left;
    margin: 0px 0px 0px 30px;
}

/* icons styling */
.fa-low-vision, .fa-thumbtack, .fa-creative-commons-sampling-plus{
    font-size: 30px;
    margin: 20px 0px 30px 0px;
    text-align: center;
}
.text-content-idea{
    font-size: 16.5px;
    list-style: circle;
}
.core-values{
    font-size: 26px !important;
}

.about-us-container{
    column-gap: 20px;
}
.about-us-left{
    border: 1px solid  #f5a425;
    margin-top: 20px;
    width: 400px;
    height: 450px;
    text-align: left;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
    text-align: center;
    column-gap: 20px;
    color: white;
}
.about-us-image{
    width: 470px !important;
    margin-top: 15px;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
    border-color: #f5a425 !important;
}
.inner-content{
    margin-top: 70px;
}
.about-us-button{
    background-color: #f5a425;
    color: rgb(255, 255, 255) !important;
    border-color: #f5a425;
}
.about-us-button:hover{
    background-color: #f5a425;
    color: rgb(255, 255, 255) !important;
    border-color: #f5a425;
}
.department-header{

    margin-bottom: 0px !important;
}
.card{
    background-color: transparent;
    margin-top: 50px;
    border-color: #f5a425;
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
    height: 311px;
}
.card-text{
    color: rgb(255, 255, 255);
    font-size: 23px;
}
.item{
    height: 500px !important;
}
.learn-more{
    background-color: #121b2f;
    border-color: #f5a425;
    margin: 20px 0px 0px -160px !important;
    justify-content: center;
}
.learn-more:hover{
    background-color: #030306;
    color: #f5a425;
}
.learn-more a{
    color: #f5a425 !important;
}
section.courses .owl-carousel .owl-dots {
    text-align: center;
    margin-top: -170px;
}
.courses-header{
    background: transparent;
    margin: 0px 200px 0px 200px;
    border-radius: 10px;
    border:1px solid #f5a425;
}
footer li{
    list-style: none;
}
footer li a{
    color: white ;
}
.governance table{
    box-shadow: 5px 5px 20px rgb(23, 8, 8);
    border: 1px solid #f5a425;
}
.governance .header-governance{
    border: 1px solid #f5a425;
    text-align: center;
}
.governance .header-governance h3{
    padding: 20px 20px;
    font-weight: bold;
}

/* management-team */
.member h4{
    color: #f5a425;
}
.header-courses{
    color: #f5a425;
   padding-left: 13px;
}
.member h6{
    color: #f5a425;
    font-size: 20px;
}
.member ul{
    list-style: disc;
}
.member li::marker{
    color: #f5a425;
}

@media screen and (max-width: 676px) {
    .header-courses{
        color: #f5a425;
        text-align: center;
    }
}