@media screen and (max-width: 676px) {
    .vision-container{
        color: white !important;
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .vision-container .row .col-12{
       max-width: 90%;
    }
    .first-div, .second-div, .third-div{
        border: 1px solid  #f5a425;
        margin-top: 20px;
        width: 500px;
        height: 450px;
        text-align: left;
        font-size: 18px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px rgb(23, 8, 8);
    }
    .second-div, .third-div{
       margin-left: 0px;
    }
    .text-content-idea{
        font-size: 18px;
        list-style: circle;
        margin-top: 50px;
    }
    .about-us-left{
        border: 1px solid  #f5a425;
        margin-top: 20px;
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 18px;
        border-radius: 20px;
        box-shadow: 5px 5px 20px rgb(23, 8, 8);
        text-align: center;
        color: white;
    }
    .about-us-image{
        width: 400px !important;
        margin-left: -9px;
    }
    .about-us-button{
        margin-bottom: 40px;
    }
    .learn-more{
        margin: 20px 0px 0px -294px !important;
    }
    .courses-header {
        background: transparent;
        margin: 0px -35px 0px -35px;
        border-radius: 10px;
        border: 1px solid #f5a425;
    }
    .governance{
        margin: 0px 0px 50px 0px !important;
        color: white;
    }
    .governance .side-design{
        display: none;
    }
    .main-design{
        margin-top: 25px;
        border: 1px solid #f5a425;
        height: 300px !important;
        width: 350px !important;
        text-align: center;
        box-shadow: 5px 5px 20px rgb(23, 8, 8);
        color: white;
        font-size: 22px;
        margin-left: 7px;
    }
    .modal-header {
        height: 70px;
        background-color: #5cb85c;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid #f5a425;
        background-color: #121b2f;
      }
      .modal-body {
        padding: 2px 16px;
        color: #fefefe;
        margin-bottom: 50px;
        width: 100%;
        display: block;
        left: 0% !important;
        }
        .modal-content span{
            margin-left: -20px !important;
            margin-right: 10px;
            font-size: 1.3rem;
          }
          .modal-body p{
            font-size: 15px;
          }
          .modal-content{
            width: 93% !important;
          }
            /* The Close Button */
  .modal-header .close {
    color: rgb(255, 255, 255);
    text-align: right !important;
    font-size: 60px !important; 
    font-weight: bold;
    margin-top: -30px !important;
  }
  
}
